<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/fonts.css">
</head>

<body>
    <section class="showcase">
        <header>
            <h2 class="logo">Travel</h2>
            <div class="toggle"></div>
        </header>

        <video src="./components/videos/video.mp4" muted loop autoplay></video>
        <div class="overlay"></div>
        <div class="text">
            <h2>Never Stop</h2>
            <h3>Exploring the world</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam blanditiis temporibus porro, itaque in possimus tenetur vel voluptatum nulla ab cum et molestiae odio, ipsa doloribus, quas excepturi ducimus at!</p>
            <a href="#">Explore</a>
        </div>
        <ul class="social">
            <li><a href="#"><img src="./components/img/facebook.png" alt=""></a></li>
            <li><a href="#"><img src="./components/img/instagram.png" alt=""></a></li>
            <li><a href="#"><img src="./components/img/twitter.png" alt=""></a></li>
        </ul>
    </section>

    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <script>
        const menuToggle = document.querySelector('.toggle');
        const showcase = document.querySelector('.showcase');

        menuToggle.addEventListener('click', () => {
            menuToggle.classList.toggle('active');
            showcase.classList.toggle('active');
        })

    </script>

</body>

</html>